:root {
    --main-bg-color: #282735;
    --secondary-bg-color: #3D3B52;
    --input-bg-color: #373457;
    --main-text-color: #fff;
    --secondary-text-color: #6e6c7d;
    --title-text-color: #F0F0F0;
    --primary-ok: #56F966;
}